<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HEADER | E-COMMERCE WEBSITE</title>

    <!-- Favicon -->
    <link
      rel="icon"
      href="https://yt3.ggpht.com/a/AGF-l78km1YyNXmF0r3-0CycCA0HLA_i6zYn_8NZEg=s900-c-k-c0xffffffff-no-rj-mo"
      type="image/gif"
      sizes="16x16"
    />

    <!-- Load CSS using Flask's static folder -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/header.css') }}"
    />

    <!-- FontAwesome for icons -->
    <script src="https://kit.fontawesome.com/4a3b1f73a2.js"></script>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <section>
        <!-- MAIN CONTAINER -->
        <div id="container">
          <!-- SHOP NAME -->
          <div id="shopName">
            <a href="{{ url_for('home') }}"> <b>SHOP</b>LANE </a>
          </div>

          <!-- COLLECTIONS ON WEBSITE -->
          <div id="collection">
            <span><a href="{{ url_for('clothing') }}"> CLOTHING </a></span>
            <span
              ><a href="{{ url_for('accessories') }}"> ACCESSORIES </a></span
            >
            <span><a href="{{ url_for('userform') }}"> USER </a></span>
          </div>

          <!-- SEARCH SECTION -->
          <div id="search">
            <form action="{{ url_for('search_product') }}" method="get">
              <i class="fas fa-search search"></i>
              <input
                type="text"
                id="input"
                name="q"
                placeholder="Search for Clothing and Accessories"
              />
            </form>
          </div>

          <!-- USER SECTION (CART AND USER ICON) -->
          <div id="user">
            <a href="{{ url_for('cart') }}">
              <i class="fas fa-shopping-cart addedToCart">
                <div id="badge">0</div>
              </i>
            </a>
            <a href="#"> <i class="fas fa-user-circle userIcon"></i> </a>
          </div>
        </div>
      </section>
    </header>
  </body>
</html>
